

@font-face {
    font-family: 'aleksandrac';
    src: url('aleksandrac_regular.eot');
    src: url('aleksandrac_regular.eot?#iefix') format('embedded-opentype'),
         url('aleksandrac_regular.woff') format('woff'),
         url('aleksandrac_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}